.box-canvas{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  margin-bottom: 8%;
  width: 300px;
  height:600px;
  animation: flyShip 5s infinite;
}

@keyframes flyShip {
  0% {
    transform: translate(0,0) rotate(0);
  }
  
  33% {
    transform: translate(50px, 50px);
  }
  
  66% {
    transform: translate(0, 50px);
  }
  
  100% {
    transform: translate(0,0) rotate(0);
  }
}

.ship {
  position: absolute;
  top: 150px;
  width: 300px;
  height: 120px;
  background: #AFCECD;
  border-radius: 50%;
}

/* Left dot */
.ship::before {
  content: '';
  left: 25px;
  bottom: 40px;
  position: absolute;
  width: 20px;
  height: 15px;
  background: yellow;
  border-radius: 50%;
  border-bottom: 2px solid black;
}

/* Right dot */
.ship::after {
  content: '';
  right: 25px;
  bottom: 40px;
  position: absolute;
  width: 20px;
  height: 15px;
  background: yellow;
  border-radius: 50%;
  border-bottom: 2px solid black;
}

.ship-inner {
  position: absolute;
  top: 20px;
  background: black;
  left: 50%;
  transform: translate(-50%);
  width: 190px;
  height: 60px;
  border-radius: 50%;
}

/* Bottom dot */
.ship-inner::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 15px;
  background: yellow;
  border-radius: 50%;
  border-bottom: 2px solid black;
  bottom: -30px;
}

.alien-head {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 50px;
  background: lightgreen;
  border-radius: 40% 40% 50% 50%;
}

/* Left eye */
.alien-head::before {
  content: '';
  position: absolute;
  left: 6px;
  top: 10px;
  width: 10px;
  height: 20px;
  background: black;
  border-radius: 50%;
  transform: rotate(-15deg);
}

/* Right eye */
.alien-head::after {
  content: '';
  position: absolute;
  right: 6px;
  top: 10px;
  width: 10px;
  height: 20px;
  background: black;
  border-radius: 50%;
  transform: rotate(15deg);
}

.antennae {
  position: absolute;
  top: -5px;
  width: 40px;
  height: 15px;
}

/* Left */
.antennae::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 5px;
  background: lightgreen;
  transform: rotate(-45deg);
  border-radius: 50% 50% 0 0;
}

/* Right */
.antennae::after {
  content: '';
  position: absolute;
  right: 0;
  height: 15px;
  width: 5px;
  background: lightgreen;
  transform: rotate(45deg);
  border-radius: 50% 50% 0 0;
}

.mouth {
  position: absolute;
  width: 8px;
  height: 8px;
  background: black;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
}

.bubble {
  position: absolute;
  top: 97px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255,255,255, 0.3);
  height: 130px;
  width: 200px;
  border-radius: 50% 50% 50% 50% / 50% 50% 30% 30%;
  border-bottom: 8px solid black;
}

.beam {
  position: absolute;
  top: 200px;
  height: 500px;
  width: 300px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.beam::before {
  content: '';
  position: absolute;
  height: 500px;
  width: 300px;
  background: linear-gradient(to bottom,
    rgba(255, 252, 2, 1),
    rgba(255, 252, 2, 0.1)
  );
  animation: beamIn 5s infinite;
}

@keyframes beamIn {
  0% {
    transform: translateY(-500px);
  }
  
  50% {
     transform: translateY(0);
  }
  
  100% {
    transform: translateY(-500px);
  }
}

